body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 83, 83);
}

p {
    font-size: 30px;
    line-height: 1.5;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    line-height: 1.5;
}

.header {
    padding: 3% 3% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > a {
    width: 20%;
}

.header > a > img {
    width: 100%;
}

.navbar {
    width: 100%;
}

.menu {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.menu > li {
    list-style-type: none;
}

.menu > li > a {
    list-style-type: none;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: rgb(2, 83, 83);
    font-size: 30px;
}    

a:hover {
    text-decoration: underline;
}

.actions {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions > a {
    font-size: 25px;
}

button {
    font-size: 25px;
    background-color: rgb(2, 83, 83);
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
}

button:hover {
    background-color: rgb(119, 172, 13);
}

.intro {
    padding: 5% 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}

.intro-text {
    width: 50%;
    margin-right: 5%;
}

.intro-text > p {
    text-align: start;
}

.free-trial > div {
    display: flex;
    height: 50px;
    margin: 3% 0;
    align-items: center;
}

.free-trial > div > button {
    background-color: rgb(119, 172, 13);
}

.free-trial > div > * {
    margin-right: 10%;
    width: 100%;
    font-size: 20px;
}

.free-trial > p {
    text-align: start;
    margin: 0;
    font-size: 20px;
    color: grey;
}

.intro > img {
    height: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 3% 30%;
}

.banner > img {
    width: 100%;
    height: 100%;
}

.publish {
    padding: 0 30%;
}

.publish > h3{
    text-align: center;
}

.publish > p {
    text-align: justify;
}

.formulario {
    padding: 0 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formulario > input {
    font-size: 30px;
    height: 100%;
    width: 50%;
}

.formulario > button {
    background-color: rgb(119, 172, 13);
}

.explanatory-video {
    display: flex;
    flex-direction: column;
    margin: 5% 20%;
    align-items: center;
    justify-content: center;
}

.explanatory-video > video {
    width: 60%;
}

.features {
    margin: 0;
    background-color: rgb(8, 66, 66);
    display: grid;
    grid-template: repeat( 2, 1fr) / repeat( 2, 1fr);
    padding: 10%;
}

.feature-card {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin: 10%;
    overflow: hidden;
    border-radius: 10px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10%;
    height: 90%;
}

.feature-content > h3 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}

.feature-content > p, a {
    margin: 0;
    font-size: 30px;
    text-align: justify;
    line-height: 1.5;
}

.feature-content > img {
    width: 80px;
    align-self: center;
}

.feature-content > * {
    margin: 5%;
}

.feature-content > a {
    color: rgb(119, 172, 13);
}

.feature-image {
    padding: 0;
    width: 50%;
    position: relative;
}

/* RESPONSIVE WEB DESIGN */
@media (max-width: 1910px){
    h1 {
        font-size: 70px;
    }

    p {
        line-height: 1.5;
        font-size: 30px;
    }

    h3 {
        font-size: 30px;
    }

    .header {
        padding: 5% 5% 0;
    }

    .intro-text {
        width: 50%;
        margin-right: 5%;
    }

    .header > a {
        width: 150px;
    }

    .menu, .actions {
        display: none;
    }

    .banner {
        margin: 5% 20%;
    }

    .publish {
        padding: 0 25%;
    }

    .formulario {
        padding: 0;
    }

    .header > .burger > div {
        background-color:  rgb(8, 66, 66);
        height: 5px;
        width: 50px;
        margin: 10px 0;
    }
    .menu, .actions {
        display: none;
    }

    .explanatory-video {
        margin: 5%;
    }

    .feature-card {
        overflow: visible;
        padding: 10%;
    }

    .feature-content {
        margin: 0;
    }

    .feature-content > h3 {
        text-align: center;
    }

    .feature-image {
        display: none;
    }
}

@media all and (max-width: 1910px) and (max-width: 1350px) {
    .header > a {
        width: 250px;
    }

    .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        margin: 0;
        width: 100%;
    }

    .intro-text > h1 {
        font-size: 80px;
        text-align: center;
    }

    .intro-text > .free-trial > div {
        height: 10em;
        margin: 2%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        align-content: center;
    }

    .intro-text > .free-trial > div > button {
        margin: 0;
        background-color:  rgb(119, 172, 13);
    }

    .intro-text > .free-trial > div > img {
        height: 20%;
        margin: 0;
    }

    .free-trial > p {
        text-align: center;
    }

    .intro > img {
        width: 100%;
        margin: 5%;
    }

    .explanatory-video {
        padding: 5% 5%;
    }

    .explanatory-video > video {
        width: 100%;
    }
    
    .publish {
        padding: 0 20%;
    }

    .features {
        display: flex;
        flex-direction: column;
    }
    
    .feature-card {
        padding: 5%;
        margin: 5% 0;
    }
}

@media all and (max-width: 1910px) and (max-width: 1350px) and (max-width: 768px) {
    p {
        font-size: 25px;
    }

    h3 {
        font-size: 30px;
    }

    .header > .burger > div {
        background-color:  rgb(8, 66, 66);
        height: 3px;
        width: 30px;
        margin: 5px 0;
    }

    .intro-text > h1 {
        font-size: 60px;
    }

    .intro-text {
        margin: 0;
    }

    .intro-text > p {
        margin: 5% 10%;
    }

    .intro-text > .free-trial > * {
        display: flex;
        justify-content: space-around;
    }

    .intro-text > .free-trial > div {
        display: flex;
        justify-content: space-around;
        margin: 10px 20%;
    }

    .banner {
        margin: 5% 20%;
    }

    .publish {
        padding: 5%;
    }

    .publish > p {
        margin: 0 10% 2%;
    }

    .formulario > input {
        width: 40%;
        font-size: 25px;
    }

    .explanatory-video {
        margin: 5% 10%;
    }

    .explanatory-video > video {
        width: 90%;
    }

    .feature-content >  h3 {
        font-size: 30px;
    }

    .feature-content > p, a {
        font-size: 25px;
    }
}

@media all and (max-width: 1910px) and (max-width: 1350px) and (max-width: 768px) and (max-width: 376px) {
    p {
        font-size: 18px;
        text-align: justify;
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: 25px;
    }

    .banner {
        margin: 5%;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .intro-text > p {
        margin: 5% 0;
        text-align: justify;
    }

    .intro-text > h1 {
        font-size: 35px;
    }

    .intro-text > .free-trial > * {
        font-size: 15px;
    }

    .free-trial > div > button {
        padding: 10px;
        font-size: 15px;
    }

    .intro > img {
        width: 90%;
    }

    .publish {
        padding: 0;
    }

    .publish > h3 {
        padding: 5%;
    }

    .formulario {
        flex-direction: column;
    }

    .formulario > input, button {
        margin: 5px;
        font-size: 18px;
        padding: 10px;
    }

    .explanatory-video > video {
        width: 100%;
    }

    .features {
        padding: 10%;
    }

    .feature-card {
        margin: 5% 0;
    }

    .feature-content > img {
        width: 60px;
    }

    .feature-content > p, a {
        font-size: 18px;
    }

    .feature-content > h3 {
        font-size: 25px;
    }
}