body{
    background-color:  wheat;
    font-family: Arial, Helvetica, sans-serif;
}
.fixed-header {
    background-color: violet;
}

.header {
    background-color: navy;
    display: flex;
    margin: 3%;
    align-items: center;
    justify-content: space-between;
}

.header > a > img {
    width: 10em;
}

.menu > li {
    margin: 50%;
}

.navbar {
    width: 50%;
    background-color: yellow;
    text-align: center;
}

.actions {
    background-color: olive;
    display: flex;
}

.actions > * {
    margin: 3%;
}

.actions > button {
    background-color: teal;
    color: whitesmoke;
    border-radius: 5px;
    border: none;
    padding: 15px 20px;
    margin: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.promo {
    display: flex;
    justify-content: center;
}

.explanatory-video{
    display: flex;
    margin: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explanatory-video > video{
    width: 100%;
}
.explanatory-video > img{
    width: 70%;
}


/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    body {
        background-color: rgb(104, 165, 235);
      }
      .navbar,.actions {
          display: none;
      }
      h1 {
          font-size: 30px;
      }
      .banner > img {
        width: 100%;
      }
      .publish {
        line-height: 1.5em;
        text-align: right;
    }
}

.features {
    width: 100%;
    margin: 0;
    background-color: rgb(8, 66, 66);
    display: grid;
    grid-template: repeat( 2, 1fr) / repeat( 2, 1fr);
    padding: 50px;
}

.feature-card {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin: 10%;
    overflow: hidden;
    border-radius: 10px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10%;
    height: 90%;
}

.feature-content > h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

.feature-content > p, a {
    font-size: 18px;
    line-height: 1.5;
}

.feature-content > img {
    width: 80px;
    margin: 0 0 10%;
    align-self: center;
}

.feature-content > a {
    color: rgb(119, 172, 13);
}
.feature-image {
    padding: 0;
    width: 50%;
    position: relative;
}